// Clock
IO_LOC "clk" 4
IO_PORT "clk" PULL_MODE=UP;

// S1 button (WDI)
IO_LOC "wdi" 35;
IO_PORT "wdi" PULL_MODE=UP;

// LED D3 (WDO)
IO_LOC "wdo" 27;
IO_PORT "wdo" PULL_MODE=NONE DRIVE=8;

// 
IO_LOC "en" 36;
IO_PORT "en" PULL_MODE=UP;

// LED D4 (ENOUT)
IO_LOC "enout" 28;
IO_PORT "enout" DRIVE=8;

// UART
IO_LOC "uart_rx" 34;
IO_PORT "uart_rx" PULL_MODE=UP;

IO_LOC "uart_tx" 33;
IO_PORT "uart_tx" DRIVE=8;
